/*=====================================
            Responsive CSS
=======================================*/

:root {
    --white: #FFFFFF;
    --skyBlue1: #E6F7FB;
}


/* Large Devices (Desktops & Laptops) */

@media (min-width: 1200px) {
    .brand {
        padding: 0 200px;
    }
    .mobile-navbar-links {
        display: none;
    }
}


/* Medium Devices (Landscape Tablets & Medium Desktops) */

@media (min-width: 992px) and (max-width: 1199px) {
    .mobile-navbar-links {
        display: none;
    }
    /* Navlinks */
    .navbar-links li a {
        padding-right: 35px;
    }
    /* Brand */
    .brand-tagline {
        left: 415px;
    }
    .brand {
        padding: 0 100px;
    }
    /* Home banner */
    .home-info h1 {
        font-size: 40px;
        line-height: 45px;
    }
    .home-info p {
        line-height: 25px;
    }
    .tik-tok-wrapper {
        padding: 0 120px;
    }
    .influencer-section-one {
        justify-content: space-around;
    }
    .influencer-section-one .influencer-image {
        flex: 0 0 47%;
        max-width: 47%;
    }
    .influencer-section-one .influencer-info {
        flex: 0 0 40%;
        max-width: 40%;
    }
    .influencer-section-one .influencer-info h4 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .influencer-section-one .influencer-info p {
        line-height: 20px;
        margin-bottom: 15px;
    }
    .influencer-section-one .influencer-info a {
        font-size: 15px;
    }
    .influencer-section-two .influencer-info {
        flex: 0 0 47%;
        max-width: 47%;
    }
    .influencer-section-two .influencer-info h4 {
        font-size: 25px;
        line-height: 30px;
    }
    .influencer-section-two .influencer-info p {
        line-height: 20px;
    }
    .tik-tok-ad-section .tik-tok-info h4 {
        font-size: 25px;
    }
    .feature-images {
        justify-content: space-around;
    }
    .featured-section img {
        padding: 20px;
    }
    .blog-one .overlay,
    .blog-two .overlay {
        width: 294px;
        height: 62px;
    }
}


/* Small Devices (Portrait Tablets & Small Desktops) */

@media (min-width: 768px) and (max-width: 991px) {
    /* Header */
    header {
        background: var(--skyBlue1);
    }
    .mobile-nav-wrapper {
        background: var(--white);
        padding: 15px 10px;
        justify-content: space-evenly;
    }
    .mobile-nav-wrapper .nav-divider {
        padding: 0 20px;
    }
    .mobile-navbar-links {
        display: block;
    }
    .mobile-nav-items {
        text-align: center;
    }
    .navbar-links,
    .brand-title {
        display: none;
    }
    .mobile-nav-logo {
        display: block;
        text-align: center;
        margin-bottom: 50px;
    }
    .mobile-nav-logo img {
        margin-top: -50px;
    }
    /* Home Banner */
    .home-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .home-info {
        order: 1;
        padding-top: 20px;
    }
    .home-info::before {
        content: none;
    }
    .home-image {
        order: 0;
        padding: 25px 0;
    }
    .home-info h1 {
        font-size: 40px;
        line-height: 45px;
    }
    .home-info p {
        line-height: 25px;
    }
    .home-section-two h2 {
        left: 0;
        font-size: 25px;
    }
    .home-section-two p {
        font-size: 15px;
        line-height: 20px;
    }
    .navbar-nav,
    .brand-tagline {
        position: unset;
    }
    .navbar {
        display: block;
        text-align: center;
        background: var(--skyBlue1);
    }
    /* Brand */
    .brand {
        padding: 0 50px;
    }
    /* Campaigns */
    .campaigns {
        flex-direction: column;
    }
    .campaign-divider {
        display: none;
    }
    .campaign-one {
        right: 0;
    }
    .campaign-two {
        left: 0;
    }
    .tik-tok-wrapper {
        padding: 0 35px;
    }
    .influencer-section-one {
        justify-content: space-around;
    }
    .influencer-section-one .influencer-image {
        flex: 0 0 47%;
        max-width: 47%;
    }
    .influencer-section-one .influencer-info {
        flex: 0 0 42%;
    }
    .influencer-section-one .influencer-info h4 {
        font-size: 20px;
        margin-bottom: -2px;
    }
    .influencer-section-one .influencer-info p {
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 0;
    }
    .influencer-section-one .influencer-info a {
        font-size: 14px;
        font-weight: bold;
        margin-top: 15px;
    }
    .influencer-section-two {
        padding: 100px 0 152px 0;
    }
    .influencer-section-two .influencer-image {
        flex: 0 0 43%;
        max-width: 43%;
    }
    .influencer-section-two .influencer-info h4 {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .influencer-section-two .influencer-info p {
        margin-bottom: 20px;
    }
    .tik-tok-ad-section .tik-tok-info h4 {
        font-size: 25px;
    }
    .influencer-section-two {
        margin-bottom: -50px;
    }
    .instagram-ambassadorship {
        padding: 60px 90px;
    }
    .featured-section img {
        padding: 25px;
    }
    .feature-images {
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .blog-two {
        margin-left: -7px;
    }
    .blog-three img {
        padding: 57px 95px;
        margin-top: -40px;
        margin-bottom: 40px;
    }
    .blog-three p {
        bottom: 52px;
    }
    .blog-images {
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .contact-us-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .contact-us-form {
        padding: 16px 135px;
        margin-top: 0;
    }
}


/* Extra Small Devices (Portrait Tablets & Landscape Phone) */

@media (max-width: 360px) {
    /* Header */
    header {
        background: var(--skyBlue1);
        padding: 20 0;
    }
    .home-info {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .mobile-navigation .container {
        padding: 0;
    }
    .mobile-nav-wrapper {
        background: var(--white);
        padding: 15px 10px;
        justify-content: center;
        align-items: center;
    }
    .mobile-nav-wrapper .nav-divider {
        padding: 0 20px;
    }
    .nav-link {
        letter-spacing: 0;
        font-size: 1.2rem;
    }
    .mobile-navbar-links {
        display: block;
    }
    #nav-btn {
        /* position: fixed;
        bottom: 5%;
        right: 5%; */
        font-size: 2.5rem;
        cursor: pointer;
        z-index: 1;
    }
    .btn-pink {
        padding: 14px 38px;
    }
    .blog-three img {
        width: 100%;
    }
    .mobile-navbar-links .mobile-nav {
        font-size: 0.5rem;
    }
    .navbar-links,
    .brand-title {
        display: none;
    }
    .mobile-nav-logo {
        display: block;
        text-align: center;
        margin-bottom: 50px;
    }
    .mobile-nav-logo img {
        margin-top: -50px;
    }
    .mobile-nav-wrapper {
        font-size: 16px;
    }
    /* Home Banner */
    .home-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .home-info {
        order: 1;
        padding-top: 20px;
    }
    .home-info::before {
        content: none;
    }
    .home-image {
        order: 0;
        padding: 25px 0;
        flex: 0 0 90%;
        max-width: 90%;
    }
    .home-info {
        flex: 0 0 80%;
        max-width: 80%;
    }
    .home-info h1 {
        font-size: 24px;
        line-height: 25px;
    }
    .home-info h2 {
        font-size: 15px;
    }
    .home-info p {
        font-size: 15px;
        line-height: 20px;
    }
    .home-section-two h2 {
        left: 0;
        font-size: 25px;
    }
    .home-section-two p {
        font-size: 15px;
        line-height: 20px;
    }
    .navbar-nav,
    .brand-tagline {
        position: unset;
    }
    .navbar {
        display: block;
        text-align: center;
        background: var(--skyBlue1);
    }
    /* Brand */
    .brand {
        padding: 0 25px;
    }
    .brand-tagline {
        font-size: 18px;
    }
    #two {
        position: relative;
        top: 25px;
        display: inline-block;
    }
    /* Campaigns */
    .campaigns {
        flex-direction: column;
    }
    .campaign-divider {
        display: none;
    }
    .campaign-one {
        right: 0;
    }
    .campaign-two {
        left: 0;
    }
    .campaign-one>h4 {
        margin-left: 0;
    }
    .campaign-one>h4,
    .campaign-two>h4 {
        font-size: 15px;
        line-height: 20px;
    }
    .campaign-one>p,
    .campaign-two>p {
        line-height: 18px;
    }
    .tik-tok-wrapper {
        text-align: center;
        padding: 0 20px;
    }
    .tik-tok-section {
        padding: 50px 10px;
    }
    .tik-tok-section h4 {
        font-size: 25px;
    }
    .tik-tok-section p {
        font-size: 15px;
        line-height: 20px;
    }
    .influencer-section-one {
        flex-direction: column;
    }
    .influencer-section-one .influencer-image {
        order: 1;
    }
    .influencer-section-one .influencer-info h4 {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .influencer-section-one .influencer-info p {
        line-height: 20px;
    }
    .influencer-section-one .influencer-info a {
        font-size: 12px;
        margin-top: 0;
    }
    .influencer-section-one .influencer-image {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 25px;
    }
    .influencer-section-two {
        padding: 75px 0 152px 0;
        flex-direction: column;
        margin-bottom: -50px;
    }
    .influencer-section-two .influencer-info {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .influencer-section-two .influencer-info h4 {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .influencer-section-two .influencer-info p {
        line-height: 20px;
    }
    .influencer-brands {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 -25px;
    }
    .influencer-section-two .influencer-info .brand-one p,
    .influencer-section-two .influencer-info .brand-two p,
    .influencer-section-two .influencer-info .brand-three p {
        left: 0;
    }
    .influencer-brands .brand-one {
        align-self: flex-start;
    }
    .brand-item {
        flex: 0 0 50%;
        max-width: 50%;
        text-align: center;
        padding: 0px 25px;
    }
    .influencer-section-two .influencer-image img {
        margin-left: 0;
    }
    .influencer-section-two .influencer-image {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .tik-tok-ad-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tik-tok-ad-section .tik-tok-image {
        flex: 0 0 100%;
        max-width: 100%;
        order: 1;
    }
    .tik-tok-ad-section .tik-tok-info {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .instagram-ambassadorship {
        padding: 60px 0;
    }
    .featured-section img {
        padding: 25px;
    }
    .feature-images {
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .blog-images {
        flex-direction: column;
    }
    .blog-three img {
        padding: 40px 98px;
        /* margin-left: 15px; */
        margin-bottom: 40px;
    }
    .blog-three p {
        left: 25px;
    }
    .influencer-section-one .influencer-info::after {
        content: none;
    }
    .blog-section::before,
    .blog-section::after {
        content: none;
    }
    .blog-one .overlay,
    .blog-two .overlay {
        width: 240px;
    }
    .contact-us-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .contact-us-form {
        margin-top: 0;
        margin-bottom: 25px;
        padding: 10px 35px;
        /* height: 0; */
    }
    .contact-us-form .submit {
        margin-left: 0;
    }
    .footer-main-item:first-child {
        flex: 0 0 100%;
    }
    .footer-main-item:first-child img {
        width: 100%;
        max-width: 100%;
    }
}