/*=====================================
    Default Theme:
    -----------------------------------
    Fonts: 
        Main Font:       Raleway
        Fallback Font:   Sans Serif
    -----------------------------------
    Colors:
        Deep Sky Blue:   #2EC6F9
        French Rose:     #F4558F
        Gray:            #BFBDBD
        White:           #FFFFFF
        Black:           #000000
=======================================*/


/*=====================================
                Colors
=======================================*/

:root {
    --deepSkyBlue: #2EC6F9;
    --frenchRose: #F4558F;
    --gray: #BFBDBD;
    --white: #FFFFFF;
    --black: #000000;
}


/*=====================================
             CSS Reset
=======================================*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


/*=====================================
             Html, Body
=======================================*/

html {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--white);
    color: var(--black);
}

a {
    text-decoration: none;
    color: var(--black);
}

li {
    list-style: none;
}


/*=====================================
            Utilities Classes
=====================================*/

.container {
    max-width: 114rem;
    margin: 0 auto;
    padding: 0 3rem;
}

.display-flex {
    display: flex;
}


/*=====================================
                Preloader
=====================================*/

#preloader {
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
}

#status {
    background-image: url("../images/preloader/preloader.gif");
    background-repeat: no-repeat;
    width: 180px;
    height: 165px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -90px;
    margin-top: -82.5px;
}


/*=====================================
            Header Section
=====================================*/

.header {
    padding: 25px 0;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    color: var(--black);
    padding: 0 25px;
}

.brand-title img {
    width: 145px;
    max-width: 200px;
    margin: 25px;
}

.brand-tagline {
    position: relative;
    left: 33rem;
    font-weight: bold;
}

.navbar-links li a {
    padding: 1rem;
    display: block;
    font-weight: 500;
}

.navbar-links li a:hover {
    color: var(--frenchRose);
    text-decoration: underline;
    text-underline-position: under;
}

.navbar-links li:first-child a {
    margin-top: -8px;
}

.navbar-links li:last-child a {
    background-color: var(--deepSkyBlue);
    border-radius: 9px;
    padding: 5px 10px;
    margin-top: 12px;
    color: white;
    font-weight: 600;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}


/*=====================================
            Home Section
=====================================*/